# Python
__pycache__/
*.py[cod]

# Dataset directories
datasets_h5/
datasets_npz/

# Images
*.png

# Dataset file types (catch any stray files of these types)
*.h5
*.npz

#literature files
*.pdf

#thesis
*.docx

#lr alg directory
llr/

#tmp from LLE_from_data
tmp.npy